header {
    height: 10vh;

    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 200px;
}

header nav ul {
    display: flex;
    gap: 16px;
    text-decoration: none;

    align-items: center;
}

header nav ul li {
    list-style-type: none;
}

header a,
#loginButton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 1rem;
}

header nav ul li a:hover,
#loginButton:hover {
    transition: transform 0.3s;
    color: #CC3E18;
}

#loginButton {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px;
    background: none;
    border: none;

    cursor: pointer;
}