header {
    height: 10vh;

    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 200px;
}

header nav ul {
    display: flex;
    gap: 16px;
    text-decoration: none;
}

header nav ul li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

header nav ul li a:hover {
    transition: transform 0.3s;
    color: #CC3E18;
}