main {
    width: 100%;
}

#main-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(../Assets/Filter1.png) no-repeat,  #111213;
    /*background-color: blue;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}

#conteudos-container {
    display: flex;
    width: 84vw;
    height: auto;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    /*background-color: antiquewhite;*/
}

#titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 20%;
    width: 100%;
    margin-top: 0;
    font-size: 30px;
    color: white;
    /*background-color: #111213;*/
}

.postagens-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
    /*background-color: blueviolet;*/
}

.posts {
    width: calc(50% - 10px);
    min-height: 250px;

    /*background-color: aqua;*/

}

.posts:hover {
    filter: saturate(1);
    transition: .3s;
}

.posts a {
    text-decoration: none;
    color: #111213; 
    display: flex;
    gap: 20px;
    width: 100%;
}

.posts a div {
    width: 75%;
    height: 80%;
    background-color: white;
    padding-top: 13px;
}

.posts img {
    width: 75%;
    height: 200px;
    object-fit: cover;
    filter: saturate(0) contrast(1.1);
    transition: .3s;
}

.posts img:hover {
    filter: saturate(1);
    transition: .3s;
}

.posts a div h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}

.posts a div p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px 20px 20px;
}